extends layout

block content
	h1
		Standing Orders:
	#orders
		each order, i in orders
			div
				| Customer name: #{order.customer}
				form(method='post', action='/order/complete')
					input(type='hidden', name='id', value= order._id );
					input(type='submit', id='complete', value='Complete Order')
